@charset "utf-8";

*{margin:0; padding:0;
box-sizing: border-box;}

body{
  font-family: "pretendard", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color:#000;
}

table{
  border-collapse: collapse;
  width: 100%;
}

ul li{  list-style: none;}

a{
  color:#000;
  text-decoration: none;
}

address, em{font-style: normal;}/*address,em은 이탤릭체가 기본이라서 노멀설정해주기*/
caption, legend{
  display: none;
}

select,input, fieldset{vertical-align: top;}

img{vertical-align: top; border:0;}


